* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#mycanvas {
    position: fixed;
    top: 0;
    left: 0;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.actions {
    padding: 20px;
    position: fixed;
    top: 10px;
    left: 0;
}

.actions svg {
    width: 2em;
    height: 2em;
    transition: all .3s;
    margin: 0 10px;
}

.actions svg.active {
    fill: red;
    transform: scale(1.2);
}

.colors {
    position: fixed;
    top: 100px;
    left: 20px;
    list-style-type: none;
}

.colors > li {
    width: 30px;
    height: 30px;
    border: 2px solid silver;
    margin: 10px 0;
    border-radius: 50%;
    transition: all 0.3s;
}

.colors > li.black {
    background: black;
}

.colors > li.red {
    background: red;
}

.colors > li.green {
    background: green;
}

.colors > li.blue {
    background: blue;
}

.colors > li.active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
    transform: scale(1.2);
}

.sizes {
    position: fixed;
    left: 80px;
    top: 90px;
    list-style: none;
}

.sizes > li {
    margin: 20px 0;
}

.sizes > .thin {

    height: 0;
    width: 20px;
    border-top: 2px solid black;
}

.sizes > .thick {
    height: 0;
    width: 20px;
    border-top: 4px solid black;
}
