* {
    margin: 0;
    padding: 0;
}

#mycanvas {
    background: green;
}

.actions {
    position: fixed;
    bottom: 10px;
    left: 0;
}

.actions > #brush {
    display: none;
}

.actions.is-painting > #brush {
    display: inline-block;
}

.actions.is-painting > #eraser {
    display: none;
}